/* rafting.css */

/* Header Styles */
header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    padding: 1em;
    background-color: #333;
    color: #fff;
}

/* rafting.css */

/* History Section Styles */
.history {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 2em;
}

history-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.history img {
    width: 100%;
    height: auto;
}

/* rafting.css */

/* Adventures Section Styles */
.adventures {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2em;
}

adventures-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}


.adventures figure {
    margin: 20px;
}

.adventures img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.adventures figcaption {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}

header img {
    width: 100px;
    height: auto;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

nav a:hover {
    color: #ccc;
}

/* rafting.css */

:root {
    --primary-color: #333;
    --accent-color: #fff;
    --background-color: #f2f2f2;
    --text-color: #333;
    --font-family: Arial, sans-serif;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family);
}

header {
    background-color: var(--primary-color);
    color: var(--accent-color);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 10px;
}


.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: white;
}

.hero article {
    position: absolute;
    top: 100px;
    left: 20px;
    width: 90%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.42);
}

.hero article img {
    float: right;
    width: 125px;
    margin: 0 0 16px 16px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* rafting.css */

/* Footer Styles */
footer {
    background-color: var(--primary-color);
    color: var(--accent-color);
    padding: 1em;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.social a {
    margin-right: 20px;
}

.social img {
    width: 30px;
    height: 30px;
}