main {
    width: 80%;
    /* adjust the width as needed */
}

aside {
    width: 20%;
    margin: 10px;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #f9f9f9;
    color: #333;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
    /* add other styles as needed */
}


p {
    padding: 0;
}

aside {
    width: 100px;
    margin: 1em;
    border: 1px solid;
    padding: 6em;
    background-color: #eee;
    color: gray;
    text-align: center;
}

aside img {
    width: 100px;
    height: auto
}

footer {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    text-align: center;
}

nav {
    background-color: #4567b7;
    /* blue background */
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color: #fff;
    /* white text */
    text-decoration: none;
    transition: color 0.2s ease;
}